.titlebar{
  display: flex;
  /* width: 700px; */
  justify-content: space-between;
  background: linear-gradient(90deg,navy,#1084d0);
  color: white;
  align-items: center;
  padding: 3px 0;
}

.titlebar>div:first-child{
  margin-left: 10px;
  display: flex;
  justify-content: center;
}

.titlebar>div:first-child>img{
  width: 20px;
  margin-right: 5px;
}

.titlebar-icon{
  margin-right: 5px;
}

.titlebar-icon>img{
  background-color: #c1c1c1;
  padding: 2px;
  margin: 0 5px;
}
